@{

}



<br><br /><br /><br />
<div class="section-title">
    
    <h2>About</h2>
    <p>Every day we strive to create the best possible experience to both our new customers and our partners. It’s not just part of our culture, but a goal we want to achieve.</p>
</div>

<div>
    <img src="~/images/default/about/About.jpg" width="1300" height="700"/>
</div>
<div class="container">
    <br />
    <div class="row">
        <div class="col-6">
            <div class="text-black-50 text-center p-5">
                <h3>WHY CHOOSE US</h3>
            </div>
            <div class="text-justify">
                <p>
                    Our expertise in cleaning and detailing cars go along way with our team's experience
                    Our Working hands follow every contour of your vehicle, from Vintage, regular Sedan,
                    SUV or Super Cars we value each moment pampering them. Our skills are driven with
                    passion and not just by duty. We take pride on every vehicle that pass through our
                    care and value most seeing that car shine amongst the rest.
                </p>
            </div>
        </div>
        <div class="col-6">
            <img src="~/images/default/about/what_we_do_best.jpg" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6">
            <img src="~/images/default/about/About2.png" width="600" height="300" />
        </div>
        <div class="col-3">
            <div class="text-black-50 text-center p-4 mt-3">
                <h3>MISSION</h3>
            </div>
            <div class="text-justify">
                <p>
                    To create smiles & lifetime
                    costumers
                </p>
            </div>
        </div>

        <div class="col-3">
            <div class="text-black-50 text-center p-4 mt-3">
                <h3>VISSION</h3>
            </div>
            <div class="text-justify">
                <p>
                    To be the service industry leader
                </p>
            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="text-black-50 text-center p-5">
                <h3>VALUES</h3>
            </div>
            <div class="text-justify">
                <ul id="checkmark" class="mb-5">
                    <li>  <strong>SAFETY :</strong> Use all senses and take careful action.</li>
                    <li>  <strong>INTEGRITY :</strong> Stay honest and do what is right.</li>
                    <li>  <strong>TEAMWORK :</strong>Help other before they ask.</li>
                    <li>  <strong>FUN :</strong> Connect, Compete and Laugh.</li>

                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="text-black-50 text-center p-5">
                <h3>THE BIG DIFFENCE</h3>
            </div>
            <div class="text-justify">
                <p>
                    Everyday we strive to create the best possible experienceto both our new costumers and
                    our partners. It's not just part of our culture, but a goal we want to achieve.
                </p>
            </div>
        </div>
    </div>
    <br />
</div>


<style>
    #checkmark {
        list-style: none;
    }

    #checkmark li:before {
        content: '✓';
        color: #ad9825;
        
    }
</style>
