
@{
    ViewData["Title"] = "FAQS";
}


<br /><br /><br />
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>A list of Questions and Answer Related to a Particular Subject Especially One Giving Basic Information for Customer Services.</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">1. 1. Which method of service is the best for me? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Ask any detailing expert and they’ll tell you the safest way to wash your car is a handwash. There’re a few different ways a handwash can be done, ranging from the traditional two-bucket method to high tech, pressurized foam cannons, but whichever way you go, they all have you (or your detailer) sensing up water with soap and washing the vehicle with a soft mitt in hand.
                            <ul>
                                <li>Handwash.</li>
                                <li>Touchless wash (if using gentle soap)</li>
                                <li>Rinse less wash</li>
                                <li>Waterless wash</li>
                                <li>Brushless wash.</li>
                                <li>Automatic wash</li>
                            </ul>
                        
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">2. How do I receive the appointment results (text or emails) of my booking?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            The reservation confirmation is sent to the booker or customer by email, SMS, social media or online chat (Instant messenger). The confirmation establishes: A check on the entered reservation request data and satisfaction of the reservation request. An agreement of booking rates and give customers an option to confirm, cancel or change their appointment booking via text reply or email.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">3. What type of payment do you accept? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Cash only
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">4. How can I be sure you can take care of it and keep my car clean? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            I am sure you to take care of your car and clean because I want to protect and
                            to keep customer to satisfied and here to always carwash

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">5. What is the booking procedure? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            You can register your details before you log in your email and password to book your reservation.



                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
