
@{
    Layout = null;
    Layout = "~/views/shared/_secondaryLayout.cshtml";
}



<div class="m-5">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 id="title"><strong>Thank You for contacting Car-Wash-Booking.PH</strong></h1>
                    <br />
                    <h4 class="mb-4 lead"><span id="success">Message Successfuly sent!</span>. We notify you as soon as possible</h4>

                    <a href="~/home/contact" class="btn btn-lg btn-success">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #success{
        color: #2a9b2d;
    }
</style>