
@{
    ViewData["Title"] = "OurServices";
}

<br /><br /><br />
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>
                @*various of services that we offer for our dear costumer*@
                We are dedicated to providing quality service, customer satisfaction at a great value in multiple locations offering convenient hours.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Labor Buff</a></h4>
                    <p>Cleaning Car and Vacuuming all the dirt and Dust inside the car together the chair and foot Step of your vehicle.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Air Blow Dry </a></h4>
                    <p>Cleaning Car and blower to dry the vehicle both interior and exterior of your vehicle.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Labor Wax</a></h4>
                    <p>Cleaning Car and Waxing gratification witnessing your car transform from a plain clean look to a sparkling diamond.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Glass Water Mark Removal</a></h4>
                    <p>Cleaning Car and Remove the Water Mark to the Glass, cleaning the treat both the interior and exterior of your vehicle.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Interior Dressing</a></h4>
                    <p>Cleaning Car and vacuuming the floor mats and carpets, to full detailing, includes vinyl cleaning, dressing, carpet shampooing, and leather conditioning services.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Exterior Dressing</a></h4>
                    <p>Cleaning Car and vacuuming, restoring, and surpassing the original condition of the exterior constituents of a vehicle.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Paint Light Scratch Correction</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Paint Water Mark Removal</a></h4>
                    <p>Cleaning Car and fix the minor paint scratches on your car step by step.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Seat Cover Install/Uninstall</a></h4>
                    <p>Cleaning Car and install/Uninstall your seat cover.</p>
                </div>
            </div>

        

        </div>

    </div>
</section><!-- End Services Section -->