
@{
    ViewData["Title"] = "OurServices";
}

<br /><br /><br />
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>
                @*various of services that we offer for our dear costumer*@
                We are dedicated to providing quality service, customer satisfaction at a great value in multiple locations offering convenient hours.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Labor Buff</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Air </a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <div class="icon">
                        <img src="~/img/services/small.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Labor Wax</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Glass Water Mark Removal</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Interior Dressing</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">
                    <div class="icon">
                        <img src="~/img/services/medium.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Exterior Dressing</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Paint Light Scratch Correction</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Spot Paint Water Mark Removal</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Seat Cover Install/Uninstall</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/extra large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Seat Cover Install/Uninstall</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/extra large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Seat Cover Install/Uninstall</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <img src="~/img/services/extra large.png" style="border-radius:50%;" />
                    </div>
                    <h4><a href="">Seat Cover Install/Uninstall</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->