
@{
    ViewData["Title"] = "ThankYou";
}
<br />
<h1 class="text-center">Thank you for contacting us, we check your request as soon as possible.</h1>
<hr />
<br /><br />


<a href="~/home" class="btn btn-primary btn-lg">Home</a>
