@model CarWash.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}




<div class="container mt-5">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Change Password your account</h1>
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger text-center"></div>
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal" method="post" action="/account/change-password">
                        <input type="hidden" name="UserId" value="@Model.UserId" />
                        <div class="form-group">
                            <label for="oldPassword" class="cols-sm-2 control-label">Old Password </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="OldPassword" id="oldPassword" placeholder="Enter your Old Password" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPassword" class="cols-sm-2 control-label">New Password </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="NewPassword" id="newPassword" placeholder="Enter your New Password" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmNewPassword" class="cols-sm-2 control-label">Confirm Password </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="ConfirmNewPassword" id="confirmPassword" placeholder="Enter your Confirm New Password" />
                                </div>
                            </div>
                        </div>


                        <div class="form-group ">
                            <button type="submit" id="submit" value="ChangePassword" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
            // Validating Fields
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();


            if (!(oldPassword == "" || newPassword == "" || confirmPassword == ""))
            {

                // To Enable Submit Button
                $("#submit").removeAttr('disabled');
                $("#submit").css({
                    "cursor": "pointer",
                    "box-shadow": "1px 0px 6px #333"
                });

            }
        });
        // On Click Of Submit Button
        $("#submit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });

</script>