
@{
    Layout = null;
    Layout = "~/views/shared/_secondaryLayout.cshtml";
}


<div class="m-5">
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h3>We'll sent you a One-Time-Password</h3>
                <br />
                <h4 class="mb-4 lead"> Check your email to get your new password. Reminder change your password after you login</h4>

                <a href="~/account/login" class="btn btn-primary">Login now! <i class="fas fa-user-alt"></i></a>
            </div>
        </div>
    </div>
</div>
</div>