@model CarWash.Web.ViewModels.account.ThumbnailViewModel
@using CarWash.Web.Infrastructures.Domain.Helpers
@{
    ViewData["Title"] = "Thumbnail";
}

<div class="text-center">
    <form action="~/account/update-thumbnail" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <label for="Thumbnail">Thumbnail:</label><br />
            <img src="~/images/users/@WebUser.UserId/thumbnail.png " id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
            <input type="file" class="form-control" name="thumbnail" />

            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>

</div></hr><br>
