@model CarWash.Web.ViewModels.account.ThumbnailViewModel
@using CarWash.Web.Infrastructures.Domain.Helpers
@{
    ViewData["Title"] = "Thumbnail";
}

<br /><br /><br />

<a class="btn btn-primary" href="~/account/profile/@WebID.GetPublicUserId">Profile</a>
<div class="row">
    <div class="col-md-6">
        <form action="~/account/update-thumbnail" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <label for="Thumbnail">Thumbnail:</label><br />
                <img src="~/images/users/@Model.UserId/thumbnail.png" style="max-width:150px;max-height:150px;" /></br></br>
                <input type="file" class="form-control" name="Thumbnail" />
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
