@using CarWash.Web.Infrastructures.Domain.Helpers
@{
    ViewData["Title"] = "Welcome";
}

<br />
<h1 class="text-center">Welcome to Car-Wash-Booking.PH</h1>
<hr />
<br /><br />


      <div class="d-md-inline-flex">
          <a href="~/home" class="btn btn-primary btn-lg">Home</a>
          <a href="~/booking/bookings-costumer/@WebUser.UserId" class="btn btn-primary btn-lg">Booking Car</a>
      </div>