
@{
    ViewData["Title"] = "Welcome";
}

<br />
<h1 class="text-center">Welcome to Car-Wash-Booking.PH</h1>
<hr />
<br /><br />


      <div class="d-md-inline-flex">
          <a href="~/home" class="btn btn-primary btn-lg">Go Home</a>

          

      </div>