@model CarWash.Web.Areas.Manage.ViewModels.bookings.CreateBookingViewModel
@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}
<br /><br /><br />
<br />
<h1 class="text-center">Booking Create</h1>
<hr />
<br /><br />
<div class="container">
    <div class="row">
        <div class="col">
            <form action="~/manage/booking/create-bookings" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()


                <div class="form-group">
                    <label for="vehicle" class="control-label mb-2">Vehicle</label>
                    <input type="text" class="form-control" id="description" name="Vehicle" aria-describedby="vehicleHelp" placeholder="Enter type of vehicle">
                </div>
                <div class="form-group">
                    <label for="time" class="control-label mb-2">Time</label>
                    <input type="text" class="form-control" id="time" name="Time" aria-describedby="timeHelp" placeholder="Enter time">
                </div>



                <div class="form-group">
                    <label for="bookingaddress" class="control-label mb-2">Price</label>
                    <input type="text" class="form-control" id="bookingaddress" name="BookingAddress" aria-describedby="bookingaddressHelp" placeholder="Enter Address">
                </div>



                <div class="form-group">
                    <label for="serviceType" class="control-label mb-1">ServiceType</label>
                    <select class="form-control" id="serviceType" name="ServiceType">
                        @{
                            var options = Enum.GetValues(typeof(CarWash.Web.Infrastructures.Domain.Enums.ServiceType)).Cast<CarWash.Web.Infrastructures.Domain.Enums.ServiceType>();

                            foreach (CarWash.Web.Infrastructures.Domain.Enums.ServiceType option in options)
                            {
                                <option value="@option">@option.ToString()</option>
                            }
                        }
                    </select>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="~/manage/service/index" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>