@using CarWash.Web.Infrastructures.Domain.Helpers
@using CarWash.Web.Infrastructures.Domain.Enums


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="~/home"><span>L&A Car Wash Booking</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
               
                <li class=""><a href="~/home">Home</a></li>
                <li><a href="~/home/about">About</a></li>
                <li class="drop-down">
                    <a href="~/services/index">Services</a>
                    <ul>
                        @if (!WebUser.IsUserLogggedIn() == true)
                        {

                        }
                        else
                        {
                            <li> <a href="~/booking/phase-one-booking/@WebID.GetPublicUserId">Manual-Booking</a></li>
                        }

                    </ul>
               </li>
                <li><a href="~/home/team">Team</a></li>
                <li><a href="~/home/faqs">FAQS</a></li>
                <li><a href="~/home/contact">Contact</a></li>
                @{
                    @if (!WebUser.IsUserLogggedIn() == true)
                    {
                        <li class="drop-down">
                            <a href="">Account</a>
                            <ul>
                                <li><a href="~/account/login">Sign In</a></li>
                                <li><a href="~/account/register">Sign Up</a></li>
                                @*<li><a href="~/account/forgot-password">Forgot-Password</a></li>*@
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li class="drop-down">
                            <a href="">Account</a>
                            <ul>
                                <li><a class="dropdown-item" href="~/chats/find-admin">Chat</a></li>
                                <li><a class="dropdown-item" href="~/chats/messages">Messages</a></li>
                                <li><a class="dropdown-item" href="~/account/profile/@WebID.GetPublicUserId">Profile</a></li>
                                <li><a class="dropdown-item" href="~/account/change-password/@WebID.GetPublicUserId">Change Password</a></li>
                                <li><a href="~/account/logout">Logout</a></li>
                            </ul>
                        </li>


                    }
                }







            </ul>
        </nav><!-- .nav-menu -->

    </div>

</header><!-- End Header -->
